<div class="button-home">
  <a href="/sale"><button id="button-home-sale">Venda</button></a>
  <a href="/stock"><button id="button-home-register">Cadastrar Produtos</button></a>
  <a href="/items-stock"><button id="button-home-stock">Ver Estoque</button></a>
  <a href="/report"><button id="button-home-report">Relatório de Vendas</button></a>
</div>
