<form action="/login/auth" method="POST">
  <div class="painel-de-fundo">
    <div class="texto-logo">
      <h2>Project</h2>
      <p>A project with finality of learn</p>
    </div>
  </div>

  <div class="painel-branco">
    <div class="texto-login">
      <h2>LOGIN</h2>
      <input type="text" placeholder="Email" name="email">
      <input type="password" placeholder="Senha" name="password">
      <a href="#">Esqueceu sua senha?</a>
       <a href="/auth"><input type="submit" value="LOGIN"></a>
    </div>
  </div>
</form>