<form action="/register/saveUser" method="POST">
  <div class="painel-de-fundo">
    <div class="texto-logo">
      <h2>Register</h2>
      <p>Register for to get more infos and contents</p>
    </div>
  </div>

  <div class="painel-branco">
    <div class="texto-login">
      <h2>Register</h2>
      <input type="text" placeholder="Nome Completo" name="name">
      <input type="text" placeholder="Email" name="email">
      <input type="text" placeholder="Nome da Empresa" name="company_name">
      <input type="password" placeholder="Senha" name="password">
      <a href="/login"><input type="submit" value="REGISTER"></a>
    </div>
  </div>
</form>